* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-image: url('image/NinjaGo-Backround.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 40px 0;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007BFF;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
    flex-wrap: nowrap; 
}

main {
    flex: 1;
    padding: 20px;
}

.characters {
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.character {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    width: 100%; 
}


.character-img {
    width: 150px; 
    height: auto;
}

.character-info {
    flex: 1; 
    text-align: left; 
}

.character:first-of-type {
    flex-direction: row; 
}

.character:last-of-type {
    flex-direction: reverse; 
}

.kai-img {
    margin-left: auto; 
}


aside {
    width: 30%; 
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 8px;
}

aside h1 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table td a {
    text-decoration: none;
    color: #007BFF;
}

table td a:hover {
    text-decoration: underline;
}

.logo {
    width: 50px;
    height: auto;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

h3{
    padding-bottom: 30px;
}